*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-famiy:Arial, sans-serif ;
    line-height:1.6;
    background: #111;
    color: #fff;
}
header{
    text-align:center ;
    padding: 80px 20px;
    background:radial-gradient(#D4AF37, black);
}
header h1{
    font-size:50px;
}
header p{
    margin: 10px;
    font-size:21px;
    color: black;
}
.btn{
    display: inline-block;
    margin-top:20px;
    padding: 10px 20px;
    background:#2e2c17a0;
    color: #00000040;
    text-decoration:none;
    border-radius: 5px;
    font-weight:bold;
}
.btn:hover{
    background: white;
}
section{
    padding: 60px 20px;
    text-align:center ;
}
h2{
    margin-bottom:20px;
    color: #D4AF37;
    font-size :40px;
}
.project{
    margin-bottom:30px;
}
.project-btn{
    display: inline-block ;
    margin:20px 5px;
    padding: 8px 15px;
    background: gold;
    color: #111;
    text-decoration:none;
    border-radius: 4px;
    font-size:14px;
    font-weight:bold;
}
.project-btn:hover{
    background: white;
}   
footer{
    text-align:center ;
    padding: 20px;
    background: #000;
    font-size:14px;
}
.project {
    border-radius: 5px;
    box-shadow:0 2px 5px gold;
    background: black;
}
h1{
    background: linear-gradient(to left, gold, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
header p{
    background: radial-gradient( black,gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
#project{
    background: #63636340;
}
.project h3{
    font-size:25px;
}
.project i{
    background: linear-gradient(to bottom,#996515,gold);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
